.accordion {
    margin-bottom: 2rem;

    &__item {
        &:first-of-type .accordion__header {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-top-width: 1px;
        }

        &:last-of-type .accordion__header {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            border-bottom-width: 1px;
        }

        &:last-of-type .accordion__body {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        // Active header
        &.active .accordion__header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background: $teal-light;
            color: $teal-dark;
            border-color: $teal-dark;
            border-top-width: 1px;

            .accordion__header-toggle {
                transform: rotate(-180deg);
                color: $teal-dark;
            }
        }

        &:not(:first-of-type).active .accordion__header {
            margin-top: -1px;
        }

        // Active body
        &:last-of-type.active .accordion__body,
        &.active .accordion__body {
            border-bottom: 1px solid rgba(0, 0, 0, .125);
        }
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 2rem;
        background-color: #fff;
        border: 0px solid rgba(0, 0, 0, .125);
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        transition: border-radius .55s ease;

        &:hover {
            cursor: pointer;
        }

        &-toggle {
            transition: transform .2s ease-in-out;
            color: $grey-400;
        }

        // &::after {
        //     font-family: "Font Awesome 5 Brands"; content: "\f078";
        //     font-weight: 900;
        //     // content: "\f324";
        //     flex-shrink: 0;
        //     // font-family: "Font Awesome 5 Brands";
        //     width: 2rem;
        //     height: 2rem;
        //     margin-left: auto;
        //     background-repeat: no-repeat;
        //     vertical-align: 50%;
        //     // transition: transform .2s ease-in-out;
        // }

        // &.active::after {
        //     transform: rotate(-180deg);
        // }
    }

    &__body {
        bottom: 10px;
        max-height: 0;
        display: block;
        overflow: hidden;
        transition: max-height .35s ease-in-out, border-radius .15s ease, color .15s ease-in-out, background-color .15s ease-in-out, border-width .25s ease-in-out, border-color 1s ease-in-out, box-shadow .15s ease-in-out;
        border-left: 1px solid rgba(0, 0, 0, .125);
        border-right: 1px solid rgba(0, 0, 0, .125);
        border-bottom: 0px solid rgba(0, 0, 0, .125);
    }

    &__body.active,
    &__item:last-of-type &__body.active {
        border-bottom: 1px solid rgba(0, 0, 0, .125);
    }

    &__content {
        padding: 1.6rem 2rem;
    }
}