.tabs {
    &__header {
        border-bottom: 1px solid #dee2e6;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__item {
        margin-bottom: -1px;
        border: 1px solid transparent;
        border-top-left-radius: .4rem;
        border-top-right-radius: .4rem;
        display: block;
        padding: .8rem 1.6rem;
        color: mix(black, $primary, 10%);
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

        &.active {
            color: #495057;
            background-color: #fff;
            border-color: #dee2e6 #dee2e6 #fff;
        }

        &:not(.active):hover {
            cursor: pointer;
            border-color: #e9ecef #e9ecef #dee2e6;
            isolation: isolate;
        }
    }

    &__content {
        >.tab-pane {
            display: none;
        }

        >.active {
            display: block;
        }

        .tab-pane {
            padding: 2rem;
        }

        .fade-in {
            opacity: 0;
            animation: fadeIn .5s ease-in 1 forwards;
        }

        // Fade in animation
        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
    }
}